body{
    padding: 0;
    margin: 0;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.child-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#books-logo{
     margin-bottom: -2%;
}
#afridi-heading{
    margin-bottom: -1%;
}

.top-navbar{
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 209, 227, 0.5)
}
ul{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}