body{
    padding: 0;
    margin: 0;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.child-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#books-logo{
     margin-bottom: -2%;
}
#afridi-heading{
    margin-bottom: -1%;
}

.top-navbar{
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 209, 227, 0.7);
    position: sticky;
    top: 0;
    font-size: large;
}
ul{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}

.child-container2{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    justify-content: space-evenly;
}
.child1-ofContainer2{
    display: flex;
    flex-direction: column;
}
.child2-ofContainer2{
    display: flex;
}
#top-img1{
    width: 250px;
    border-radius: 30%;
}
input{
    height: 20%;
    width: 100%;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    background-image: url(./images/input-search-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 22%;
    font-size: larger;
}

.child-container3{
    display: flex;
    flex-direction: column ;
    align-items: center;
    line-height: 3%;
}

.best-seller-nav, .books-nav{
    font-size: larger;
    font-weight: bolder;
}

.child-container4, .child-container5{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 19%;
    height: 300px;
    border: 2px solid black;
    border-radius: 5%;
}

#card-1{
    background-image: url(./images/card-img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}